.categorias > div:last-child{
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.categorias > div:last-child > div:first-child{
    width: 100%;
    padding: 5vh 0;
}

.categorias > div:last-child > div:last-child{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

.categorias > div:last-child > div:last-child > div{
    width: 240px;
    gap: 10px;
    display: flex;
    padding: 15px 10px;
    flex-direction: column;
    background: #fff;
    margin-bottom: 2vh;
    text-align: center;
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.10); /* Sombra más pronunciada */
}

.categorias > div:last-child > div:last-child > div a{
    width: 100%;
    margin: 20px 20px 5px 20px;
    background: #fbb03b; /* Color naranja */
    color: #2c2c72; /* Color azul oscuro del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 14px; /* Tamaño de fuente */
    border-radius: 30px; /* Bordes redondeados */
    text-transform: uppercase; /* Texto en mayúsculas */
    display: flex; /* Permite centrar el texto */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.categorias > div:last-child > div:last-child > div h1{
    font-size: 25px;
    color: #403f3f;
}

.categorias > div:last-child > div:last-child > div span{
    font-size: 18px; /* Tamaño del título */
    margin: 4px 0; /* Separación del título */
    color: #333; /* Color del texto */
}

.categorias > div:last-child > div:last-child > div small{
    font-size: 16px; /* Tamaño del texto */
    color: #666; /* Color del texto */
    margin: 4px 10px; /* Espaciado entre párrafos */
}

.categorias > div:last-child > div:last-child > div a:hover {
    background: #e89c26; /* Color más oscuro al pasar el mouse */
}

.categorias > div:last-child > div:last-child > div > div{
    width: 96%;
    height: 24vh;
    border-radius: 15px;
}

.categorias > div:last-child > div:last-child > div > div{
    background-image: url('img/Imagenes de la web/Slider/Botellas.jpeg'); /* Imagen SVG de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}

.categorias > div:last-child > div:last-child > div:nth-child(2) > div{
    background-image: url('img/Imagenes de la web/Slider/envases\ de\ plastico.jpeg'); /* Imagen SVG de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}

.categorias > div:last-child > div:last-child > div:nth-child(3) > div{
    background-image: url('img/Imagenes de la web/Slider/descarga.jpeg'); /* Imagen SVG de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}

.categorias > div:last-child > div:last-child > div:nth-child(4) > div{
    background-image: url('img/Imagenes de la web/Slider/Maquillaje.jpeg'); /* Imagen SVG de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}

.categorias > div:last-child > div:last-child > div:nth-child(5) > div{
    background-image: url('img/Imagenes de la web/Slider/Hierro.jpeg'); /* Imagen SVG de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}

.categorias > div:last-child > div:last-child > div:nth-child(6) > div{
    background-image: url('img/Imagenes de la web/Slider/Plastico.jpeg'); /* Imagen SVG de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}

.categorias > div:last-child > div:last-child > div:nth-child(7) > div{
    background-image: url('img/Imagenes de la web/Slider/Remeras.jpg'); /* Imagen SVG de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}

.categorias > div:last-child > div:last-child > div:nth-child(8) > div{
    background-image: url('img/Imagenes de la web/Slider/D_759307-MLU74866439346_032024-C\ \(1\).jpg'); /* Imagen SVG de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}

.categorias > div:last-child > div:last-child > div:nth-child(9) > div{
    background-image: url('img/Imagenes de la web/Slider/cable.jpg'); /* Imagen SVG de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}

.categorias > div:last-child > div:last-child > div:nth-child(10) > div{
    background-image: url('img/Imagenes de la web/Slider/Botellas.jpeg'); /* Imagen SVG de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}

.categorias > div:last-child > div:last-child > div:nth-child(11) > div{
    background-image: url('img/Imagenes de la web/Slider/envases\ de\ plastico.jpeg'); /* Imagen SVG de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}

.categorias > div:last-child > div:last-child > div:nth-child(12) > div{
    background-image: url('img/Imagenes de la web/Slider/Jabones.jpeg'); /* Imagen SVG de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}

.categorias > div:last-child > div:last-child > div:nth-child(13) > div{
    background-image: url('img/Imagenes de la web/Slider/descarga.jpeg'); /* Imagen SVG de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}

.categorias > div:last-child > div:last-child > div:nth-child(14) > div{
    background-image: url('img/Imagenes de la web/Slider/descarga.jpeg'); /* Imagen SVG de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}

/*---------------------------------Slider-2---------------------------------*/

.slider-2{
    width: 100%;
}

/*---------------------------------footer---------------------------------*/
.footer{
    width: 100%;
    gap: 20px;
    display: flex;
    padding: 30px;
    background-image: url('img/gradient-2.svg'); /* Imagen SVG de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}

.footer > div:first-child{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: #3f51b5; /* Color de fondo */
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer > div:first-child img{
    width: 200px;
    margin-bottom: 20px;
}

.footer > div:first-child h1{
    color: #fff;
}

.footer > div:last-child{
    display: flex;
    flex-direction: column;
}

.footer > div:last-child div{
    display: flex;
}

.footer > div:last-child div:first-child{
    display: flex;
    background: #fff;
    border-radius: 15px;
    padding: 5px;
}

.footer > div:last-child div:last-child img{
    width: 50px;
}

.footer > div:last-child div:last-child{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 20px;
}


.footer > div:last-child div:first-child p{
    font-size: 20px;
}

.footer > div:last-child div:first-child img{
    border-radius: 15px;
}
